<h3>Third Annual Hack&Snack!!!</h3>
<p>
  The Hack&Snack has been a time-honored tradition for three years now. We are all about snacking while you're hacking so every year we throw this hackathon and provide attendees with pizza, tacos, sushi, and beer. This year's event will start on Friday evening at 5:00 pm and go straight through until Sunday evening at 5:00. Happy Hacking!
</p><br>
<a href="/teams">back to homepage</a>
