<!--member.vtl-->
<h3>$member.getName()</h3>
<p>Works at $member.getWork()</p>
<p>Specialty is $member.getSpecialty()</p>
<p>Lives in $member.getHome()</p>

<a href="/teams/$team.getId()">Back to team</a>
<!--member.vtl-->
